*{margin: 0; padding: 0; border: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: black;}
.cf::after{
    content: '';
    display: block;
    clear: both;
}
.cb{clear: both;}

body{font-family: "맑은 고딕", 돋움, sans-serif; margin: 0; padding: 0;}
img{margin: 0; padding: 0;}
body{min-width: 1455px;}
/* 해더 */
#header{
    width: 100%;
    height: 90px;
    background-color: black;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}
#header > ul{
    height: 90px;
    text-align: center;
    overflow: hidden;
    transition: height 0.4s;
    background-color: black;
    padding-left: 500px;
    width: 100%;
    box-sizing: border-box;
}

#header > ul > li{
    float: left;
}
#header > ul > li > h1 > img{
    margin-top: 20px;
    margin-left: -850px;
}
#header > ul > li > a{
    display: block;
    padding: 0 40px;
    height: 90px;
    line-height: 90px;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.2em;
    border-bottom: 3px solid transparent;
}
#header > ul > li:nth-child(6){
    position: absolute;
    right: 80px;
}
#header > ul > li:nth-child(7){
    position: absolute;
    right: 10px;
}
#header ul ul a{
	display: block;
	padding: 0 35px 0 40px;
	line-height: 38px;
	font-weight: 400;
	color: #ffffff;
	transition: all 0.3s;
}

#header > ul > li:hover > a{
    color: rgb(233, 66, 66);
    border-bottom: 3px solid rgb(233, 66, 66);
}
#header > ul > li:nth-child(6):hover a, #header > ul > li:nth-child(7):hover a{
    border-bottom: none;
}
#header > ul.active{
	height: 430px;
}

#header ul ul.active{
	height: 430px;
    width: 100%;
}

#header > ul > li:hover ul{
	background-color: #888;
}
#header > ul> li > ul > li:hover a{
    color: rgb(233, 66, 66);
}


/* 배너 */
#banner{
    width: 100%;
    height: 1160px;
    margin: 0 auto;
    background: url(../image/banner.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
#banner h2{
    font-size: 9em;
    color: white;
    text-shadow: 5px 5px 2px rgb(90, 90, 90);
    text-align: center;
    font-weight: bold;
    padding-top: 300px;
    letter-spacing: -1;
}
#banner p{
    font-size: 2em;
    color: white;
    text-align: center;
    letter-spacing: -1;
}


/* 첫줄 상품 */
#product{
    width: 1820px;
    height: 3300px;
    margin: 0 auto;
}
#product .rens{
    width: 1820px;
    height: 670px;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: aqua; */
}
#product .rens li{
    float: left;
}
#product .rens li p{
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}
#product .rens li p span{
    display: block;
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    width: 310px;
    color: rgb(78, 78, 78);
}
#product .rens li:first-child p span{
    margin-left: 250px;
    margin-top: -33px;
}
#product .rens li:first-child a{
    display: block;
    overflow: hidden;
    width: 900px;
    height: 460px;
}

#product .rens li:nth-child(2) a{
    width: 883px;
    height: 584px;
    overflow: hidden;
    display: block;
    margin-left: 37px;
}

#product .rens li:nth-child(2) p{
    margin-left: 47px;

}
#product .rens li:nth-child(2) p span{
    margin-left: 80px;
    margin-top: -33px;
}
#product .rens li img:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

/* 둘째줄 상품 */
#product .compact{
    width: 1820px;
    height: 670px;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}
#product .compact li{
    float: left;
}
#product .compact li p{
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}
#product .compact li p span{
    display: block;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    width: 350px;
    color: rgb(78, 78, 78);
}
#product .compact li:first-child p{
    margin-left: 510px;
}
#product .compact li:first-child p span{
    margin-left: 210px;
    margin-top: -33px;
}
#product .compact li:first-child a{
    display: block;
    overflow: hidden;
    width: 1080px;
    height: 588px;
}

#product .compact li:nth-child(2) a{
    width: 703px;
    height: 498px;
    overflow: hidden;
    display: block;
    margin-left: 37px;
}

#product .compact li:nth-child(2) p{
    margin-left: 180px;

}
#product .compact li:nth-child(2) p span{
    margin-left: 200px;
    margin-top: -33px;
}
#product .compact li img:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

/* 세번째줄 상품 */
#product .printer{
    width: 1820px;
    height: 590px;
    margin: 0 auto;
    /* background-color: orange; */
}
#product .printer li{
    float: left;
}
#product .printer li p{
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}
#product .printer li p span{
    display: block;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    width: 350px;
    color: rgb(78, 78, 78);
    margin-left: -100px;
    margin-top: 0;
}
#product .printer li p{
    margin-left: 470px;
    margin-top: -110px;
}
#product .printer li a{
    display: block;
    overflow: hidden;
    width: 1080px;
    height: 553px;
    margin-left: 740px;
}
#product .printer li img:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
}

/* 넷째줄 상품 */
#product .binoculars{
    width: 1820px;
    height: 570px;
    margin: 0 auto;
    /* background-color: skyblue; */
}
#product .binoculars li{
    float: left;
}
#product .binoculars li p{
    font-size: 2em;
    font-weight: bold;
    margin-left: 1035px;
    margin-top: -70px;
}
#product .binoculars li p span{
    display: block;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
    width: 350px;
    color: rgb(78, 78, 78);
    margin-left: -15px;
    margin-top: 0;
}
#product .binoculars li a{
    display: block;
    overflow: hidden;
    width: 1020px;
    height: 525px;
    margin-left: 0;
}
#product .binoculars li img:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
}

/* 다섯째줄 상품 */
#product .wearble{
    width: 1820px;
    height: 800px;
    margin: 0 auto;
    /* background-color: gold; */
}
#product .wearble li{
    float: left;
}
#product .wearble li p{
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}
#product .wearble li p span{
    display: block;
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    width: 332px;
    color: rgb(78, 78, 78);
}
#product .wearble li:first-child p span{
    margin-left: 150px;
    margin-top: -33px;
}
#product .wearble li:first-child a{
    display: block;
    overflow: hidden;
    width: 847px;
    height: 555px;
}

#product .wearble li:nth-child(2) a{
    width: 938px;
    height: 719px;
    overflow: hidden;
    display: block;
    margin-left: 34px;
}

#product .wearble li:nth-child(2) p{
    margin-left: 47px;

}
#product .wearble li:nth-child(2) p span{
    margin-left: 290px;
    margin-top: -33px;
}
#product .wearble li img:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}















/* 푸터 */
#footer{
    width: 100%;
    height: 400px;
    background-color: #000000;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
#footer li{
    color: white;
}
#footer p{
    color: white;
}
#footer address{
    font-style: normal;
}
#footer .policy{
    padding-left: 80px;
    padding-top: 80px;
    font-size: 1.2em;
}
#footer address li{
    padding: 20px 0 0 80px;
}
#footer address p{
    padding: 20px 0 0 80px;
}
#footer .family{
    position: absolute;
    top: 80px;
    right: 400px;
}
#footer .family select {
    background-color: rgb(102, 102, 102); 
    width: 145px; 
    height: 40px; 
    padding-left: 5px; 
    margin-right: 5px; 
    color: white; 
}
#footer .canon{
    position: absolute;
    top: 80px;
    right: 130px;
}
#footer .canon select {
    background-color: rgb(102, 102, 102); 
    height: 40px; 
    padding-left: 5px; 
    margin-right: 5px;  
    color: white;
}
#footer .icon{
    float: left;
    position: absolute;
    top: 150px;
    right: 250px;
    width: 300px;
}
#footer .icon img{
    float: left;
    width: 50px;
    margin: 5px;

}